html {
  font-size: 16px;
}

@font-face {
  font-family: "BebasNeue";
  src: url(./assets/fonts/BebasNeueRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-SemiBold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-family: "NotoSans";
  font-weight: 400;
}

a {
  text-decoration: none;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.header {
  height: 5.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  right: 0;
  /* width: 100%; */
  color: #fff;
  transition:
    background 0.2s,
    color 0.2s,
    fill 0.2s,
    height 0.2s;
}

.header-light {
  background: #fafbfc;
  color: #292d33;
  height: 74px;
}

.container {
  width: clamp(23.438rem, 7.282rem + 68.93vw, 90rem);
  margin: auto;
}

.mobile-menu-toggle {
  display: none;
}

.menu-toggle-icon {
  width: 24px;
  height: 24px;
  fill: #ffffff;
}

.header-light .menu-toggle-icon {
  fill: #292d33;
}

.mobile-menu {
  display: none;
}

.mobile-seporator {
  width: 100%;
  height: 1px;
  background: #ebebf0;
  margin: 0;
  margin-bottom: 1.875rem;
}

.mobile-phone {
  display: block;
  margin-left: 0.9375rem;
  color: #292d33;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.6; /* 32px */
  text-decoration-line: underline;
  margin-bottom: 1.25rem;
}

.mobile-menu-item {
  padding-bottom: 1.875rem;
  margin-left: 0.9375rem;
}

.mobile-menu-link {
  color: #292d33;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
}

.mobile-submenu-item:not(:last-child) {
  padding-bottom: 0.625rem;
}

.mobile-submenu-item {
  padding-left: 2.1875rem;
}

.mobile-submenu-item:first-child {
  padding-top: 1.25rem;
}

.mobile-submenu-link {
  color: #828a99;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.mobile-info-address {
  margin-bottom: 0.625rem;
}

.mobile-info-address,
.mobile-info-mail {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}

.info-address,
.info-mail {
  color: #292d33;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6;
}

.icons-social {
  margin-block: 1.25rem 0.9375rem;
}

.mobile-info-icon,
.icon-social {
  width: 24px;
  height: 24px;
}

.header-logo {
  display: inline-flex;
  align-items: center;
  padding-inline: clamp(2.125rem, -0.567rem + 3.08vw, 3.125rem);
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 100%;
}

.header-logo-img {
  width: clamp(7.5rem, 7.197rem + 1.29vw, 8.75rem);
  height: clamp(2.375rem, 2.284rem + 0.39vw, 2.75rem);
}

.navbar {
  margin-inline: 3.125rem;
  flex-basis: 100%;
}

.navbar-item {
  flex-shrink: 0;
}

.navbar-list {
  display: flex;
  align-items: center;
  column-gap: 3.125rem;
}

.navbar-link {
  display: inline-flex;
  color: #fff;
  line-height: 1.6;
  font-weight: 400;
  color: inherit;
  font-size: 1rem;
  width: 100%;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  padding-right: 3.125rem;
}

.header-phone-icon {
  fill: #5c8ee6;
}

.header-phone-link {
  font-family: "NotoSans";
  font-weight: 600;
  line-height: 1.6;
  color: inherit;
  font-size: 1rem;
}

.navbar-button {
  display: inline-block;
  height: 100%;
  flex-shrink: 0;
}

.navbar-button .button-icon {
  fill: #ffffff;
  display: none;
}

.button {
  padding: 1.5625rem 3.75rem;
  /* height: 94px; */
  font-size: 1rem;
  border: none;
  background: #5c8ee5;
  color: #fff;
  font-family: "NotoSans";
  font-weight: 600;
  line-height: 1.6;
}

.header-container {
  padding-top: 5.875rem;
  /* min-height: 100vh; */
}

.header-container-image {
  background-image: url("./assets/images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
}

.header-container-image::after {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-content {
  position: relative;
  z-index: 1;
}

.content {
  padding-top: 9.375rem;
}

.seporator {
  width: 9.375rem;
  height: 0.125rem;
  background: #5c8ee5;
}

.header-title {
  margin: 0;
  padding-block: 1.875rem;
  color: #fff;
  width: clamp(23.438rem, 12.743rem + 45.63vw, 67.5rem);
  font-family: "BebasNeue";
  font-size: clamp(3rem, 2.515rem + 2.07vw, 5rem);
  font-weight: 400;
  line-height: 1.2;
}

.header-text {
  margin: 0;
  margin-bottom: 3.125rem;
  color: #fff;
  width: clamp(21.563rem, 15.874rem + 24.27vw, 45rem);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.header-button {
  height: 4.75rem;
  display: inline-block;
  margin-bottom: 6.25rem;
}

.header-features {
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header-features-item {
  padding: 1.875rem 3.125rem;
  width: 18rem;
  min-height: 100%;
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-icon {
  width: 2.25rem;
  height: 2.25rem;
}

.header-features-text {
  color: #fff;
  margin: 0;
  padding-top: 1.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.section-title {
  color: #292d33;
  font-family: "BebasNeue";
  font-size: clamp(2.25rem, 1.886rem + 1.55vw, 3.75rem);
  font-weight: 400;
  line-height: 1.2;
  padding-block: 1.875rem 3.125rem;
  margin: 0;
}

.steps-list {
  display: flex;
  column-gap: 1.875rem;
  justify-content: space-between;
}

.steps-item {
  width: 20.625rem;
  height: 16.6875rem;
}

.steps-num {
  color: #5c8ee5;
  font-family: "BebasNeue";
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  width: 100%;
  height: 0.0625rem;
  background: #ebebf0;
  margin-left: 1.875rem;
}

.steps-title {
  margin-block: 1.875rem 0.625rem;
  color: #292d33;
  font-size: clamp(1.25rem, 1.129rem + 0.52vw, 1.75rem);
  font-weight: 400;
  line-height: 1.6;
}

.steps-text {
  margin: 0;
  margin-block: 0.625rem 1.25rem;
  color: #828a99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
}

.steps-link {
  display: flex;
  align-items: center;
  color: #5c8ee5;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.6;
}

.steps-link::before {
  content: "";
  height: 1px;
  width: 2.5rem;
  background: #5c8ee5;
  margin-right: 1.25rem;
}

.slider-steps-buttons {
  display: none;
  height: 40px;
  justify-content: flex-end;
}

.steps-swiper-button-prev,
.steps-swiper-button-next {
  background: #5c8ee5;
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.slider-features-buttons {
  display: none;
  height: 44px;
}

.slider-swiper-button-prev,
.slider-swiper-button-next {
  height: 100%;
  flex-basis: 50%;
  border: 1px solid rgba(235, 235, 240, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.production-cards {
  display: flex;
  flex-wrap: wrap;
}

.card-content {
  padding: 2.5rem 3.125rem;
}

.card {
  flex-basis: calc(100% / 3);
  border: 1px solid #ebebf0;
  position: relative;
}

.card-title {
  margin: 0;
  padding-bottom: 10px;
  color: #292d33;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.6;
}

.card-text {
  color: #828a99;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  margin-bottom: 24.625rem;
}

.card-image {
  width: 90%;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: 0;
}

@media (max-width: 1700px) {
  html {
    font-size: 14px;
  }
}

@media (max-width: 1460px) {
  .navbar {
    margin-inline: 2rem;
  }
  .navbar-list {
    column-gap: 1rem;
  }
  .header-phone {
    padding-right: 2rem;
  }
}

@media (max-width: 1300px) {
  .header-phone {
    display: none;
  }

  .slider-features-buttons {
    display: flex;
  }

  .slider-steps-buttons {
    display: flex;
    align-items: center;
  }

  .navbar-button {
    padding-inline: 2rem;
  }
  .card {
    flex-basis: 50%;
  }
}

@media (max-width: 992px) {
  .navbar {
    display: none;
  }
  .header-logo {
    flex-grow: 1;
    justify-content: center;
  }
  .mobile-menu-toggle {
    width: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(235, 235, 240, 0.2);
  }
  .navbar-button .button-text {
    display: none;
  }
  .navbar-button .button-icon {
    display: block;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    z-index: 2;
    background-color: #fff;
    padding-top: 5rem;
    padding-left: 0.9375rem;
  }
  .mobile-menu.is-open {
    display: block;
  }
}

@media (max-width: 768px) {
  .card {
    flex-basis: 100%;
  }
}
@media (max-width: 375px) {
  .card {
    max-height: 429px;
    max-width: 345px;
  }
}
