@font-face {
  font-family: "BebasNeue";
  src: url(./assets/fonts/BebasNeueRegular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-Bold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "NotoSans";
  src: url(./assets/fonts/NotoSans-SemiBold.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100%;
  font-style: normal;
  font-size: 16px;
  font-family: "NotoSans";
  font-weight: 400;
}

a {
  text-decoration: none;
}

ol {
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(235, 235, 240, 0.2);
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  color: #fff;
  transition: background 0.3s, color 0.3s, fill 0.3s;
}

.header-light {
  background: #FAFBFC;
  color: #292D33;
}

.header-light .path {
  fill: #292D33;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.header-logo {
  display: flex;
  align-items: center;
  padding: 25px 50px;
  border-right: 1px solid rgba(235, 235, 240, 0.2);
  height: 93px;
}

.navbar {
  margin-left: 50px;
  flex-basis: 100%;
}

.navbar-list {
  display: flex;
  align-items: center;
  column-gap: 50px;
}

.navbar-link {
  color: #fff;
  line-height: 160%;
  font-weight: 400;
  color: inherit;
}

.header-phone {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding-right: 50px;
}

.header-phone-link {
  font-family: "NotoSans";
  font-weight: 600;
  line-height: 160%;
  color: inherit;
}

.navbar-button {
  flex-shrink: 0;
  width: 300px;
}

.button {
  padding: 25px 60px;
  height: 94px;
  border: none;
  background: #5c8ee5;
  color: #fff;
  font-family: "NotoSans";
  font-weight: 600;
  line-height: 160%;
}

.header-container {
  padding-top: 94px;
  min-height: 100vh;
}

.header-container-image {
  background-image: url("./assets/images/header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  width: 100%;
}

.header-container-image::after {
  content: "";
  position: absolute;
  background: rgba(41, 45, 51, 0.6);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.header-content {
  position: relative;
  z-index: 1;
}

.content {
  padding-top: 150px;
}

.seporator {
  width: 150px;
  height: 2px;
  background: #5c8ee5;
}

.header-title {
  margin: 0;
  padding-block: 30px;
  color: #fff;
  max-width: 1080px;
  font-family: "BebasNeue";
  font-size: 80px;
  font-weight: 400;
  line-height: 120%;
}

.header-text {
  margin: 0;
  margin-bottom: 50px;
  color: #fff;
  max-width: 720px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.header-button {
  width: 313px;
  height: 76px;
  display: inline-block;
  margin-bottom: 100px;
}

.header-features {
  min-height: 168px;
  margin: 0;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header-features-item {
  border: 1px solid rgba(235, 235, 240, 0.2);
}

.header-features-item:not(:last-child) {
  border-right: none;
}

.header-features-icon {
  padding: 30px 50px 20px;
}

.header-features-text {
  color: #fff;
  margin: 0;
  padding: 0 50px 30px;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.section-steps-title {
  color: #292d33;
  font-family: "BebasNeue";
  font-size: 60px;
  font-weight: 400;
  line-height: 120%;
  padding-block: 30px 50px;
  margin: 0;
}

.steps-list {
  display: flex;
  column-gap: 30px;
}

.steps-item {
  width: 330px;
  height: 267px;
}

.steps-num {
  color: #5c8ee5;
  font-family: "BebasNeue";
  font-size: 48px;
  font-weight: 400;
  line-height: 120%;
  display: flex;
  align-items: center;
}

.steps-num::after {
  content: "";
  width: 100%;
  height: 1px;
  background: #ebebf0;
  margin-left: 30px;
}

.steps-title {
  margin-block: 30px 10px;
  color: #292d33;
  font-size: 28px;
  font-weight: 400;
  line-height: 160%;
}

.steps-text {
  margin: 0;
  margin-block: 10px 20px;
  color: #828a99;
  font-size: 16px;
  font-weight: 400;
  line-height: 160%;
}

.steps-link {
  display: flex;
  align-items: center;
  color: #5c8ee5;
  font-size: 16px;
  font-weight: 600;
  line-height: 160%;
}

.steps-link::before {
  content: "";
  height: 1px;
  width: 40px;
  background: #5c8ee5;
  margin-right: 20px;
}
